.title {
    width: fit-content;
    height: fit-content;
    border: 8px solid;
    color: navy;
    font-family: sans-serif;
    font-size: 32px;
    line-height: 80px;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.table {
    border-spacing: 0;
    margin: 4rem;
    background-color: #d8f8fb;
}

.table__row:nth-child(even) {
    background-color: #c2eeff;
}

.table__header {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}

.table__cell {
    font-family: sans-serif;
    text-align: center;
    padding: 8px;
    border: 2px solid;
}

.map {
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.link {
    font-family: sans-serif;
    color: navy;
    text-align: center;
}

.image {
    font-family: sans-serif;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.description {
    font-family: sans-serif;
    font-size: 16px;
    margin: auto;
}

.credits {
    font-family: sans-serif;
    font-size: 14px;
    margin: auto;
}

.about_me {
    font-family: sans-serif;
    font-size: 12px;
    margin: auto;
}
