<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="description">
            <h1>This is the crime data in Howard County, Maryland that I have collected from HCPD from January to March 2022.<br>
                The process involved using BeautifulSoup to extract the data and displaying it on this Flask website.<br>
                The goal is to inform the public about crime rates, trends, and social sentiment regarding crimes.<br>
                <br>
            </h1>
        </div>
        <div class="credits">
            <h2>
                Created by Zichun (Jerry) Gao under the guidance of Dr. Chao Wu, Ph.D.<br>
                Source: https://www.howardcountymd.gov/police/newsroom
            </h2>
        </div>
    </body>
</html>
