<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>About</title>
        <link rel="stylesheet" href="/static/styles.css"/>
    </head>
    <body>
        <div class="description">
            <h1>This is the crime data in Howard County, Maryland that I have collected from HCPD from February to March 2022.<br>
                The process involves using BeautifulSoup to extract the data and displaying it on this Flask website.<br>
                The goal is to inform the public about crime rates, trends, and social sentiment regarding crimes.<br>
                <br>
            </h1>
        </div>
        <div class="credits">
            <h1>
                Data Source:
                <a href="https://www.howardcountymd.gov/police/newsroom">https://www.howardcountymd.gov/police/newsroom</a><br>
                Source Code:
                <a href="https://github.com/zichungao88/flask_crime_data">https://github.com/zichungao88/flask_crime_data</a><br>
                Note: This website is a work in progress. More data will be updated and displayed in the future accordingly.<br>
                <br>
            </h1>
        </div>
        <div class="about_me">
            <h1>
                Created by Zichun (Jerry) Gao under the guidance of Dr. Chao Wu, Ph.D.<br>
                Zichun "Jerry" Gao (Simplified Chinese: 高梓淳) is a senior at River Hill High School in Clarksville, Maryland.
                A passionate learner and thinker, Jerry enjoys analyzing and solving engineering problems.
                He also loves to spend time with his family and hang out with his friends.<br>
                <br>
                Check out my (archived) YouTube Channel:
                <a href="https://www.youtube.com/c/JGVlogs8">https://www.youtube.com/c/JGVlogs8</a><br>
                <br>
            </h1>
        </div>
    </body>
</html>
