<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
            integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
        <title>Graph</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="title">
            {% block content %}
            <h1>Crime Data Graph</h1>
            {% endblock %}
        </div>
        <canvas id="myChart" max-width="100" max-height="100"></canvas>
        <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels | safe }},
                datasets: [{
                    label: 'Frequency of Crimes',
                    data: {{ values | safe }},
                    backgroundColor: '#0022ff',
            borderWidth: 0
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>
    </body>
</html>
