<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <div class="title">
            <h1>
                Crime Data Chart<br>
                Howard County, Maryland<br>
                February ~ March 2022
            </h1>
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>
    <body>
        <table class="table">
            <tr class="table__header">
                {% for header in headings %}
                <th class="table__cell">{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table__row">
                {% for cell in row %}
                <td class="table__cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div class="map_title">
            <h3>
                The following embedded map shows the locations of the crimes committed. You can zoom into specific locations or click on "View larger map" to view on Google Maps.
            </h3>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d197779.1969970985!2d-77.08230233137797!3d39.236062103961146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c82690abe1981f%3A0x5a8ad4ff03e4d892!2sHoward%20County%2C%20MD!5e0!3m2!1sen!2sus!4v1658792715493!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
    </body>
</html>
